<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Blog</title>
</head>
<body>
  <h1>Simple Blog</h1>
  <div class="blog-post">
    <textarea name="" id="" cols="120" rows="30" style="resize: none"></textarea>
  </div>
</body>
</html>