<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- js files -->
  <!-- <script src="../helper_funcitons/globalVars.js" defer></script> -->
  <script src="../helper_funcitons/populatBlogEntries.js" defer></script>
  <script src="../index.js" defer></script>
  <title>Simple Blog</title>
</head>
<body>
  <h1>Simple Blog</h1>
  <div class="new-blog_post">
    <form action="">
      <textarea name="" id="" cols="120" rows="30" style="resize: none"></textarea>
    </form>
  </div>
  <div class="blog-entries">
    <% blogPosts.forEach(blog => { %>
      <div class="post-wrapper">
        <p class="title"><%= blog['title'] %> - by <span class="author"><%= blog['author'] %></span></p>
        <p class="content"><%= blog['content'] %></p>
        <p class="date"><%= blog['post_date'].toDateString() %></p>
        <input type="button" class="delete-post" value="x">
      </div>
    <% }); %> 
  </div>
</body>
</html> 