.main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post_button {
  width: fit-content;
  margin: 3em 0 3em 10%;
  padding: 1px;
}

/* CREATE NEW POST FORM */
.create-post_form {
  padding-top: 3em;
}

.new-blog_post {
  display: flex;
  flex-direction: column;
  width: 37%;
  padding-top: 10em;
  border-right: 1px solid tan;
  border-left: 1px solid brown;
  background-color: #FBF0D9;
}

.new-blog_post label {
  margin-left: 10%;
  margin-top: 3em;
  padding-top: 2em;
}

.new-blog_post .post-title {
  width: 34%;
  margin-bottom: 0.75em;
  padding: 0.25em;
}

.new-blog_post textarea {
  width: 80%;
  height: 25vw;
  margin: 0 10%;
}

.new-post_btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.new-blog_post .cancel-btn_new {
  margin-left: auto;
  height: 25px;
  width: 25px;
  margin-top: 1.05em;
  margin-right: 9.5%;
}

.new-blog_post .submit-post {
  margin-bottom: 3em;
}

/* BLOG ENTRIES */
.blog-entries {
  border-right: 1px solid tan;
  border-left: 1px solid brown;
  height: 100vh;
}

.blog-entries .title {
  display: inline-block;
  text-decoration: underline;
}

.blog-entries .author {
  font-style: italic;
  font-weight: 300;
}

.submit-post {
  width: fit-content;
  padding: 0.5em;
  margin-top: 0.75em;
  margin-left: 10%;
}

.new-blog_post,
.blog-entries {
  padding: 0 1em;
}

.blog-entries {
  width: 37%;
  background-color: #FBF0D9;
  color:#5F4B32;
}

.post-wrapper {
  width: 80%;
  margin-left: 10%;
  /* margin-top: 4em; */
  padding-top: 4em;
  border-top: 1px solid black;
}

.post-wrapper .content{
  white-space: pre-wrap;
  margin: 0.75em 0em;
}

.blog-entries .date {
  margin-top: 1em;
  margin-bottom: -0.5em;
  font-size: 0.95em;
  font-style: italic;
}

.post-wrapper .post-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 1em;
}

.post-buttons input {
  padding: 1px 2px;
  margin-bottom: 0.75em;
  margin-right: 0.75em;
}

/* SMALLER SCREENS */
@media screen and (max-width: 2000px) {
  header,
  .new-blog_post,
  .blog-entries {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  header,
  .new-blog_post,
  .blog-entries {
    width: 60%;
  }

  .new-blog_post .post-title {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  header,
  .new-blog_post,
  .blog-entries {
    width: 85%;
  }

  header h1 {
    font-size: 1.5em;
  }

  header .logout {
    font-size: 0.75em;
  }

  header .logout-button {
    font-size: 0.85em;
    width: fit-content;
  }

  .header-spacer {
    padding-bottom: 5em;
  }

  .create-post_form label {
    font-size: 0.75em;
  }

  .new-blog_post .post-title {
    width: 65%;
  }
}

@media screen and (max-width: 490px) {


  .new-blog_post .post-title {
    width: 57%;
  }
}